MQTT+ESP32CAM-Basic_YO.json
[
    {
        "id": "e0b148e704501213",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0b7ccba55f97a494",
        "type": "mqtt in",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "codigoIoT/SIC/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "dcc3596946f0479e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "a5857ccb2a7ea46b",
                "cd3e15a7f316e25f"
            ]
        ]
    },
    {
        "id": "a5857ccb2a7ea46b",
        "type": "ui_text",
        "z": "e0b148e704501213",
        "group": "f8be81c57e27c5c1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "92f8444284804884",
        "type": "ui_switch",
        "z": "e0b148e704501213",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f4e702beb3672006",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 180,
        "wires": [
            [
                "a8ea0a066f34297b"
            ]
        ]
    },
    {
        "id": "a8ea0a066f34297b",
        "type": "mqtt out",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "esp32/output",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "dcc3596946f0479e",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "cd3e15a7f316e25f",
        "type": "debug",
        "z": "e0b148e704501213",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "39e0ca540d8ce1bc",
        "type": "mqtt in",
        "z": "e0b148e704501213",
        "name": "TEMP",
        "topic": "ISR/feeds/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "dcc3596946f0479e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 340,
        "wires": [
            [
                "cd3e15a7f316e25f",
                "9cee40629d48f554"
            ]
        ]
    },
    {
        "id": "1811219db870d543",
        "type": "mqtt in",
        "z": "e0b148e704501213",
        "name": "",
        "topic": "ISR/feeds/hum",
        "qos": "2",
        "datatype": "auto",
        "broker": "dcc3596946f0479e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "cd3e15a7f316e25f",
                "a441fcc10ce5de97"
            ]
        ]
    },
    {
        "id": "9cee40629d48f554",
        "type": "ui_gauge",
        "z": "e0b148e704501213",
        "name": "temp",
        "group": "f8be81c57e27c5c1",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "a441fcc10ce5de97",
        "type": "ui_gauge",
        "z": "e0b148e704501213",
        "name": "hum",
        "group": "f8be81c57e27c5c1",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "b863e6efe2305ac9",
        "type": "ui_spacer",
        "z": "e0b148e704501213",
        "name": "spacer",
        "group": "f8be81c57e27c5c1",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "dcc3596946f0479e",
        "type": "mqtt-broker",
        "z": "e0b148e704501213",
        "name": "LocalBrokerIP192.168.1.2",
        "broker": "192.168.1.2",
        "port": "1883",
        "tls": "",
        "clientid": "YopP",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "2",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f8be81c57e27c5c1",
        "type": "ui_group",
        "name": "Rx",
        "tab": "cebb3f53d288520d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f4e702beb3672006",
        "type": "ui_group",
        "name": "Tx",
        "tab": "cebb3f53d288520d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cebb3f53d288520d",
        "type": "ui_tab",
        "name": "Comunicación MQTT con ESP32CAM",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]